<div class="blog-section">
    <div class="blog-header">Destinos</div>
    <div class="cards">
      <div class="card">
        <img src="/assets/images/bariloche.jpg" alt="Destination" />
        <div class="card-content">
          <h3>Bariloche</h3>
          <p>A porta de entrada da Patagônia Argentina pelo norte, famosa pela região dos lagos andinos.</p>
        </div>
      </div>
      <div class="card">
        <img src="/assets/images/elcalafate.jpg" alt="Lifestyle" />
        <div class="card-content">
          <h3>El Calafate</h3>
          <p>Conhecida como “a cidade dos glaciares”.</p>
        </div>
      </div>
      <div class="card">
        <img src="/assets/images/ushuaia.jpg" alt="Tips & Hacks" />
        <div class="card-content">
          <h3>Ushuaia</h3>
          <p>Rodeada por montanhas e conhecida como a cidade "do fim do mundo".</p>
        </div>
      </div>
    </div>
  </div>
  